<!DOCTYPE html>
<html lang="en">
  <head>
	<title>FitBitTeam - Contact</title>
		
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

	<meta charset="utf-8">
	<meta name="description" content="A webapp designed to help those with congestive heart failure manage their weight and minimize risks. Works with Fitbit devices and soon Amazon Alexa!">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
    <!-- Bootstrap <link href="file:css/bootstrap-4.3.1.css" rel="stylesheet">  -->
  </head>
  <body>
	<!-- <button (click) = 'getAverageWeekWeight()'>click</button> -->
	<header>
		<nav class="navbar navbar-expand-md fixed-top navbar-dark navbar-default @navbar-height 200px">
			<a routerLink="../home" href="../home" class="navbar-brand nav-link" ><img src="../../assets/favicon.png" alt="FitBitTeamLogo" style="width:40px;height:40px;">FitBitTeam</a>
			<button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarCollapse">
				<div class="navbar-nav" >
					<a routerLink="../cmain" class="nav-item nav-link active">Timeline</a>
					<a routerLink="../about" class="nav-item nav-link">About</a>
					<a routerLink="../help" class="nav-item nav-link">Help</a>
					<a routerLink="../contact" class="nav-item nav-link">Contact</a>
				</div>
				<div class="text-right">
					<font color="white" size=5>Welcome, {{first}}</font>
				</div>
				<!-- <div class="navbar-nav ml-auto">
					<a routerLink="../login" class="nav-item nav-link">Login</a>
				</div> -->
			</div>
			<div class="text-right">
				<a routerLink="../asettings"><button type="button" class="btn btn-lg"><font color="white" size=5><i class="glyphicon glyphicon-cog"></i></font></button></a>
				<a (click)="logout()"><button type="button" class="btn btn-lg"><font color="white" size=5><i class="glyphicon glyphicon-log-out"></i></font></button></a>    
			</div>       
		</nav>
	</header>
	<main>
<div class="row" (click) = toTimeline()>
	<div class="col-md-2"> 
		<font size=6>Status:</font>
		<div>
			<font size=5>{{status}}</font> 
		</div>
	</div>
	<div id="chartContainer" style="height: 370px; width: 70%;"></div>

	<!-- <iframe width = 550 height = 500 src="https://docs.google.com/spreadsheets/d/e/2PACX-1vShAFUam6FMz3PyGySp4vNrO5lzXemxSHreaG1UFuPpBBqo0ww8FYhRCXEDXF60HwNxjWqhXt0xzsNQ/pubhtml?gid=16563526&amp;single=true&amp;widget=true&amp;headers=false"></iframe>-->
</div>	
<br>
<button type="button" class="btn btn-md btn-success" (click) = 'pullFitbit()'><font size=5 align=left>Refresh Data</font></button>

<div class="text-left" *ngIf= "!hasclicked">
	<div class="d-flex w-100 justify-content-between">
		<font size=5>Current Reminders:</font>	
		<button type="button" class="btn btn-md btn-success" (click) = 'clicked()'><font size=5 align=left>Add a Medication</font></button>
	</div>
	<br>
	<ul class="list-group">
  		<li class="list-group-item" style="background-color: #43E78E; color: #ffffff;">
	  		<div class="d-flex w-100 justify-content-between">
      			<div class="col"><font size=5>Medication Name</font></div>
	  			<div class="col"><font size=5>Day(s) of week</font></div>
				  <div class="col"><font size=5>Reminder time</font></div>
					<font size=5>Remove</font>
	  		</div>
		</li>
	
		<li class="list-group-item" *ngFor = "let med of meds; let i = index" style="background-color: gray; color: #ffffff;">
	  		<div class="d-flex w-100 justify-content-between">
				<div class="col"><font size=5>{{med.medname}}</font></div>
				<div class="col"><font size=5>{{med.meddate}}</font></div>
				<div class="col"><font size=5>{{med.medTime}}</font></div>
					<button (click)= "delMed(i)"><font size=5 >Remove</font></button>
	  		</div>
  		</li>		
	</ul>
</div>

<div class="medsAdd" *ngIf='hasclicked'>
		<ul>
				<button type="button" class="btn btn-sm btn-danger" (click) = 'clicked()'><font size=5 align=left>Back</font></button>
			<li>
				<h5>Medication Name:</h5>
				<input class="form-control" id="InputFirst" placeholder="Medicine Name"  [(ngModel)]="medName" #ctrl="ngModel" required>
			</li>
			<li>
				<h5>Day(s) of the week:</h5>

				<select class="selectpicker" multiple id="InputFirst" placeholder="medDate"  [(ngModel)]="medDate"  required >
					<option data-tokens="Monday"> &nbsp;Monday</option>
					<option data-tokens="Tuesday"> &nbsp;Tuesday</option>
					<option data-tokens="Wednesday"> &nbsp;Wednesday</option>
					<option data-tokens="Thursday">  &nbsp;Thursday</option>
					<option data-tokens="Friday"> &nbsp;Friday</option>
					<option data-tokens="Saturday"> &nbsp;Saturday</option>
					<option data-tokens="Sunday"> &nbsp;Sunday</option>
				  </select>
				  
			</li>
			<li>
				<h5>When to remind you:</h5>
				<input type="time" name="med_time" placeholder="medTime"  [(ngModel)]="medTime" #ctrl="ngModel" required>
			</li>
			<button type="button" class="btn btn-md btn-success" (click) = 'add()'><font size=5 align=left>Add</font></button>
		</ul>
	</div>



<div class="text-left">
	<font size=5>Recommendation:</font>
	<div class="text-left">
		<font size=4>{{recommendation}}</font>
	</div>
</div>


<li class="list-group-item" *ngFor = "let rec of recs; let i = index" style="background-color: white; color: black;">
	<div class="d-flex w-100 justify-content-between">
		  <font size=5>{{rec}}</font>
	</div>
</li>
</main>
<footer>
	<hr/>
	<p>© 2020 - FitBitTeam | <a href="">Terms of Service & Privacy Policy</a></p>
</footer>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) --> 
<script src="file:/js/jquery-3.3.1.min.js"></script>

<!-- Include all compiled plugins (below), or include individual files as needed --> 
<script src="file:/js/popper.min.js"></script>
<script src="file:/js/bootstrap-4.3.1.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>	
</body>
</html>
