<!DOCTYPE html>
<html lang="en">
	<style>
	h5 {
		font-face: calibri;
	}
		.greenbox{
			width:50px;
	height:50px; 
	background-color: green;
}
		.redbox{
			width:50px;
	height:50px; 
	background-color: red;
}
	</style>

  <head>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>FitBit Capstone</title>

    <!-- Bootstrap -->
    <link href="file:css/bootstrap-4.3.1.css" rel="stylesheet">

  </head>

  <body>

<nav class="navbar navbar-expand-sm navbar-dark sticky-top" style="background-color: #43E78E;">
<div class="container-fluid">
	<div class="text-left">
		<a routerLink="../cmain"><button type="button" class="btn btn-lg"><font color="white" size=5>Home</font></button></a>
    </div>	
	<div class="text-center">
		<font color="white" size=5>Welcome, {{first}}</font>
	</div>
	<div class="text-right">
	  <a routerLink="../settings"><button type="button" class="btn btn-lg"><font color="white" size=5>User Settings</font></button></a>
    </div>
</div>
       
</nav>
   
<div class="row" (click) = toTimeline()>
	<div class="col-md-2"> 
		<font size=6>Status:</font>
		<div>
			<font size=5>{{status}}</font> 
		</div>
	</div>
	<div id="chartContainer" style="height: 370px; width: 70%;"></div>

	<!-- <iframe width = 550 height = 500 src="https://docs.google.com/spreadsheets/d/e/2PACX-1vShAFUam6FMz3PyGySp4vNrO5lzXemxSHreaG1UFuPpBBqo0ww8FYhRCXEDXF60HwNxjWqhXt0xzsNQ/pubhtml?gid=16563526&amp;single=true&amp;widget=true&amp;headers=false"></iframe>-->
</div>	
<br>
<div class="text-left" *ngIf= "!hasclicked">
	<div class="d-flex w-100 justify-content-between">
		<font size=5>Current Reminders:</font>	
		<button type="button" class="btn btn-md btn-success" (click) = 'clicked()'><font size=5 align=left>Add a Medication</font></button>
	</div>
	<br>
	<ul class="list-group">
  		<li class="list-group-item" style="background-color: #43E78E; color: #ffffff;">
	  		<div class="d-flex w-100 justify-content-between">
      			<font size=5>Medication Name</font>
	  			<font size=5>Day(s) of week</font>
				<font size=5>Reminder time</font>
				<font size=5>Remove</font>
	  		</div>
		</li>
	
		<li class="list-group-item" *ngFor = "let med of meds; let i = index" style="background-color: gray; color: #ffffff;">
	  		<div class="d-flex w-100 justify-content-between">
					<font size=5>{{med.medname}}</font>
					<font size=5>{{med.meddate}}</font>
					<font size=5>{{med.medTime}}</font>
					<button (click)= "delMed(i)"><font size=5 >Remove</font></button>
	  		</div>
  		</li>		
	</ul>
</div>

<div class="medsAdd" *ngIf='hasclicked'>
		<ul>
				<button type="button" class="btn btn-sm btn-danger" (click) = 'clicked()'><font size=5 align=left>Back</font></button>
			<li>
				<h5>Medication Name:</h5>
				<input class="form-control" id="InputFirst" placeholder="Medicine Name"  [(ngModel)]="medName" #ctrl="ngModel" required>
			</li>
			<li>
				<h5>Day(s) of the week:</h5>
				<select multiple class="form-control" id="InputFirst" placeholder="medDate"  [(ngModel)]="medDate" #ctrl="ngModel" required >
					<option value="Monday">Monday</option>
					<option value="Tuesday">Tuesday</option>
					<option value="Wednesday">Wednesday</option>
					<option value="Thursday">Thursday</option>
					<option value="Friday">Friday</option>
					<option value="Saturday">Saturday</option>
					<option value="Sunday">Sunday</option>
				  </select>
				  
			</li>
			<li>
				<h5>When to remind you:</h5>
				<input type="time" name="med_time" placeholder="medTime"  [(ngModel)]="medTime" #ctrl="ngModel" required>
			</li>
			<button type="button" class="btn btn-md btn-success" (click) = 'add()'><font size=5 align=left>Add</font></button>
		</ul>
	</div>



<div class="text-left">
	<font size=5>Recommendation:</font>
	<div class="text-left">
		<font size=4>Eat an apple a day</font>
	</div>
</div>
	  
	  
    
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) --> 
    <script src="file:/js/jquery-3.3.1.min.js"></script>

    <!-- Include all compiled plugins (below), or include individual files as needed --> 
    <script src="file:/js/popper.min.js"></script>
  <script src="file:/js/bootstrap-4.3.1.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  </body>
</html>
