<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
<title>FitBit Capstone</title>
<!-- Bootstrap  
<link href="file:css/bootstrap-4.3.1.css" rel="stylesheet"> -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">


</head>
  
<body>
  
<nav class="navbar navbar-expand-sm navbar-dark sticky-top" style="background-color: #43E78E;">

<div class="container-fluid">
	  <div class="text-left">
      <a><button type="button" class="btn btn-lg" (click)= homepage()><font color="white" size=5><i class="glyphicon glyphicon-home"></i></font></button></a>
    </div>	
	  <div class="text-center">
		  <font color="white" size=5>Welcome, {{first}}</font>
	  </div>
	  <div class="text-right">
      <a routerLink="../asettings"><button type="button" class="btn btn-lg"><font color="white" size=5><i class="glyphicon glyphicon-cog"></i></font></button></a>
  
      <a (click)="logout()"><button type="button" class="btn btn-lg"><font color="white" size=5><i class="glyphicon glyphicon-log-out"></i></font></button></a>    </div>
</div>
       
</nav>
<main>
<ul class="list-group">
  <li class="list-group-item" style="background-color: #43E78E; color: #ffffff;">
	  <div class="d-flex w-100 justify-content-between">
      <font size=5>Fitbit Account</font>
        <button type = "button" id="fitbitLogin" class ="btn btn-md btn-primary" title = "Authorize use of Fitbit Data" (click)="redirectFitbit()">Login to FitBit</button>
	  </div>
  </li>
  <li class="list-group-item" >
    <div class="d-flex w-100 justify-content-between">
        <font size=5>Token:  {{tokenParsed}}</font>
        <button type = "button" class ="btn btn-md btn-primary" (click)="revokeAccessFitbit()">Revoke Access</button>
    </div>
    <div class="d-flex w-100 justify-content-between">
      <font size=5>ID:  {{fitbitId}}</font>
  </div>
</li>
</ul>
<!-- Uses amazon SDK see: https://developer.amazon.com/docs/login-with-amazon/install-sdk-javascript.html-->
<ul class="list-group">
  <li class="list-group-item" style="background-color: #43E78E; color: #ffffff;">
     <!-- imports Login with Amazon SDK-->
	  <div id="Amazon Account" class="d-flex w-100 justify-content-between">
      <font size=5>Amazon Account</font>
        <!--<button type = "button" id="alexaLogin" title ="Use the same email as you registered with us!" class ="btn btn-md btn-primary" (click)="redirectAlexa()">Link to Alexa</button>
        -->
      <a href id="LoginWithAmazon" title = "Not working yet!">
        <img border = "0" alt = "Login with Amazon"
          src = "https://images-na.ssl-images-amazon.com/images/G/01/lwa/btnLWA_gry_156x132.png"
          width="156" height="32" />
      </a>
    </div>
  </li>
  <li class="list-group-item" >
    <div class="d-flex w-100 justify-content-between">
        <font size=5>Token:</font>
        <button type = "button" class ="btn btn-md btn-primary" (click)="redirectAlexaSkill()">Link Alexa Skill</button>
    </div>
</li>
</ul>
      
<ul class="list-group">
  <li class="list-group-item" style="background-color: #43E78E; color: #ffffff;">
	  <div class="d-flex w-100 justify-content-between">
      <font size=5>Account Information</font>
      <button type="button" class="btn btn-md btn-primary" (click)="clicked()">Edit</button>
	  </div> 
  </li>
  <div *ngIf= "!hasclicked">
        <li class="list-group-item" >
            <div class="d-flex w-100 justify-content-between">
                <font size=5>First Name:  {{first}}</font>
            </div>
        </li>
        <li class="list-group-item">
            <div class="d-flex w-100 justify-content-between">
                <font size=5>Last Name:  {{last}}</font>
            </div>
        </li> 
    </div>
    <div *ngIf= "hasclicked">
        <li class="list-group-item" >
            <div class="d-flex w-100 justify-content-between">
                <font size=5>First Name:  </font>
                <input class="form-control" id="InputUser" placeholder="First Name" [(ngModel)]="first">
            </div>
        </li>
        <li class="list-group-item">
            <div class="d-flex w-100 justify-content-between">
                <font size=5>Last Name:  </font>
                <input class="form-control" id="InputUser" placeholder="Last Name" [(ngModel)]="last">
            </div>
        </li> 
        <button type="button" class="btn btn-md btn-primary" (click)="SaveNew()">Save</button>
    </div>
   
  
  <li class="list-group-item">
      <div class="d-flex w-100 justify-content-between">
        <font size=5>Password: *********</font>
        <font size = 5><a routerLink="../reset">Reset Password</a></font>
      </div>
  </li>

	<li class="list-group-item">
	  <div class="d-flex w-100 justify-content-between">
      <font size=5>Referral Code: {{userid}} </font>
    </div>
  </li>
</ul>
<div class="text-left">
    <a (click)="logout()"><button type="button" style="background-color: #43E78E;" class="btn btn-lg btn-success">Logout</button></a>
</div>
    
</main>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) --> 
    <script src="file:/js/jquery-3.3.1.min.js"></script>

    <!-- Include all compiled plugins (below), or include individual files as needed --> 
  <script src="file:/js/popper.min.js"></script>
  <script src="file:/js/bootstrap-4.3.1.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script src="https://sdk.amazonaws.com/js/aws-sdk-2.653.0.min.js"></script>     <!-- importing Login with Amazon SDK-->
  </body>
  
</html>
