<!DOCTYPE html>
<html>
    <head>
	    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    
	    <meta charset="utf-8">
	    <meta name="description" content="A webapp designed to help those with congestive heart failure manage their weight and minimize risks. Works with Fitbit devices and soon Amazon Alexa!">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <nav class="navbar navbar-expand-md fixed-top navbar-dark navbar-default @navbar-height 200px">
            <a routerLink="../home" href="../home" class="navbar-brand nav-link" ><img src="../../assets/favicon.png" alt="FitBitTeamLogo" style="width:40px;height:40px;">FitBitTeam</a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav" >
                    <a routerLink="../cmain" class="nav-item nav-link" *ngIf="(typeBool | async)">Timeline</a>
                    <a routerLink="../admin" class="nav-item nav-link" *ngIf="(!typeBool | async)">Admin</a>
                    <a routerLink="../about" class="nav-item nav-link">About</a>
                    <a routerLink="../help" class="nav-item nav-link">Help</a>
                    <a routerLink="../contact" class="nav-item nav-link">Contact</a>
                </div>
                <div class="navbar-nav ml-auto">
					<a routerLink="../login" class="nav-item nav-link">Login</a>
				</div>
                <div class="text-right">
                    <font color="white" size=5 *ngIf="(loginStatus | async) (UserName) as first">Welcome, {{first}}</font>
                </div>
            </div>
            <div class="text-right"*ngIf="(typeBool | async)">
                <a routerLink="../csettings"><button type="button" class="btn btn-lg"><font color="white" size=5><i class="glyphicon glyphicon-cog"></i></font></button></a>
                <a (click)="onLogout()"><button type="button" class="btn btn-lg"><font color="white" size=5><i class="glyphicon glyphicon-log-out"></i></font></button></a>    
            </div>
            <div class="text-right"*ngIf="(!typeBool | async)">
                <a routerLink="../asettings"><button type="button" class="btn btn-lg"><font color="white" size=5><i class="glyphicon glyphicon-cog"></i></font></button></a>
                <a (click)="onLogout()"><button type="button" class="btn btn-lg"><font color="white" size=5><i class="glyphicon glyphicon-log-out"></i></font></button></a>    
            </div>        
        </nav>
        <router-outlet></router-outlet>
    </body>
</html>
